.sidebar-menu > li {
    padding-left: 8px;
    transition: transform 0.2s ease;
  }
  .sidebar-menu > li:hover {
    transform: translateX(5px);
  }
  .sidebar-menu .dropdown > a {
    display: flex;
    align-items: center;
    padding: 8px 0;
    gap: 8px;
    font-size: 13px;
    
  }
  .sidebar-menu .active-main > a {
    background-color:rgb(13, 110, 253);
    color:rgb(255, 255, 255);
    font-weight: bold;
    margin-left: -10px;
    padding-left: 10px;
    width: calc(100% + 10px);
  }
  .sidebar-submenu li {
    transition: transform 0.2s ease;
  }
  .sidebar-submenu li:hover {
    transform: translateX(5px);
  }
  .sidebar-submenu li a {
    padding: 6px 0 6px 15px;
    display: block;
    font-size: 12px;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  .sidebar-submenu li a.submenu-clicked {
    background-color:rgb(23, 162, 184) !important;
    color:rgb(255, 255, 255) !important;
  }
  .sidebar-submenu {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
  }
  .sidebar-menu .open .sidebar-submenu {
    max-height: 1000px;
  }
  .sidebar-menu-group-title {
    padding: 8px 0;
    font-size: 12px;
    font-weight: bold;
    color: #666;
  }